
.brand-style1{
  .brand-item{
    text-align: center;
    background-color: $body-color;
    padding: 65px 40px;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: all 0.5s ease;
    img{
      transition: all 0.3s ease;
    }
    &:hover{
      border-color: $theme-color;
      img {
          filter: invert(49%) sepia(42%) saturate(1287%) hue-rotate(328deg) brightness(80%) contrast(85%);
        }
    }
  }
}
@media (max-width: 400px){
  .brand-style1 .brand-item{
    padding: 30px 20px;
  }
}
