<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <footer class="footer-layout1 style2 z-index-common">

  <!-- CTA NEWSLETTER -->
  <div class="container">
    <div class="cta-layout1 style2 z-index-common blog-title">
      <div class="row gx-60 align-items-center">

        <div class="col-lg-3">
          <div class="cta-logo text-center">
            <a href="{{ path('app_home') }}" class="footer-logo-bg">
              <img src="/assets/img/brand/logoN.jpeg" alt="SenBazar" class="logo" style="max-height: 100px;">
            </a>
          </div>
        </div>

        <div class="col-lg-9">
          <div class="row justify-content-xl-between justify-content-center align-items-center">

            <div class="col-lg-5">
              <div class="newsletter-inner">
                <span class="newsletter-icon">
                  <i class="fa-solid fa-envelope-open-text fa-2x"></i>
                </span>
                <div class="newsletter-content">
                  <h4 class="newsletter_title">Restez informe</h4>
                  <p class="newsletter-text">Recevez nos nouveautes et promotions</p>
                </div>
              </div>
            </div>

            <div class="col-lg-7">
              <div class="newsletter-form">
                <div class="search-btn d-flex gap-2">
                  <input class="form-control" type="email" placeholder="Votre adresse email">
                  <button type="submit" class="vs-btn">
                    <i class="fa-solid fa-paper-plane"></i> S'abonner
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- FOOTER LINKS -->
  <div class="footer-top">
    <div class="container">
      <div class="row g-5 justify-content-between">

        <div class="col-md-6 col-lg-3">
          <div class="widget footer-widget">
            <h3 class="widget_title">A propos</h3>
            <p class="footer-text">
              SenBazar est une marketplace senegalaise moderne pour acheter vetements, beaute, maison, electronique, informatique, sport et complements alimentaires.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="widget footer-widget">
            <h3 class="widget_title">Explorer</h3>
            <ul class="menu list-style1 list-unstyled">
              <li><a href="#"><i class="far fa-angle-right"></i> A propos</a></li>
              <li><a href="#"><i class="far fa-angle-right"></i> Boutique</a></li>
              <li><a href="#"><i class="far fa-angle-right"></i> Promotions</a></li>
              <li><a href="#"><i class="far fa-angle-right"></i> Mon compte</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="widget footer-widget">
            <h3 class="widget_title">Contact</h3>
            <div class="footer-communicate">
                <ul>
                    <li>
                        <a href="#" class="footer-communicate__text">
                            <i class="fas fa-map-marker-alt"></i>
                            <span>Dakar</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:contact@senbazar.sn" class="footer-communicate__text">
                            <i class="fas fa-envelope"></i>
                            <span class="link">contact@senbazar.sn</span>
                        </a>
                    </li>
                </ul>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- BOTTOM (Bleu Gris #435C6B) -->
  <div class="bottom-info">
    <div class="container">
      <div class="row align-items-center text-center text-lg-start">
        <div class="col-lg-4">
          <p class="mb-0 text-white">Marketplace locale a Dakar</p>
        </div>
        <div class="col-lg-4">
          <ul class="copyright-menu list-unstyled d-flex justify-content-center gap-3 mb-0">
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Conditions</a></li>
          </ul>
        </div>
        <div class="col-lg-4 text-lg-end">
          <img src="/assets/img/others/credit-payment.png" alt="paiement" style="max-height: 25px;">
        </div>
      </div>
    </div>
  </div>

  <!-- COPYRIGHT (Bleu Fonce) -->
  <div class="copyright-wrap text-center">
    <div class="container">
      <p class="copyright-text">
        (c) <script>document.write(new Date().getFullYear())</script>
        <a href="#">Creative Tech</a>. Tous droits reserves.
      </p>
    </div>
  </div>

</footer>
</body>
</html>




