{{ include('navbar.html.twig') }}


<body>
  <!--[if lte IE 9]>
    	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <!--********************************
   		Code Start From Here 
	******************************** -->
  <!--==============================
	Preloader
	==============================-->

  <!--==============================
    Breadcrumb
  ============================== -->
  <div class="breadcumb-wrapper" data-bg-src="assets/img/hero/souhait.webp">
    <div class="container z-index-common">
      <div class="breadcumb-content">
        <h1 class="breadcumb-title text-white">Mes Souhaits</h1>
      </div>
    </div>
  </div>
  

<!--======== Wishlist Section ========-->
<div class="wishlist-area py-5 mb-5 pb-5">
    <div class="container">

        <div class="mb-4">
            <h2 class="fw-bold">Ma Liste d'envies</h2>
        </div>

        <!-- WISHLIST DYNAMIC CONTENT -->
        <div class="row g-4" id="wishlist-container"></div>

        <div class="mt-4">
                    <a href="{{ path('app_shop') }}" class="deen-cart-back text-decoration-none fw-bold">
                        <i class="fas fa-arrow-left me-2"></i>Continuer mes achats
                    </a>
                </div>

    </div>
</div>
    <!--======== / Wishlist Section ========-->



  <!-- Cta Area -->
{{ include('footer.html.twig') }}

  <!--********************************
			Code End  Here 
	******************************** -->
  <!--==============================
        All Js File
    ============================== -->
  <!-- Jquery -->
<script src="assets/js/index.js"></script>

  <script src="assets/js/vendor/jquery-3.7.1.min.js"></script>
  <!-- Bootstrap -->
  <script src="assets/js/bootstrap.min.js"></script>
  <!-- Slick Slider -->
  <script src="assets/js/slick.min.js"></script>
  <!-- Magnific Popup -->
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <!-- imagesloaded -->
  <script src="assets/js/imagesloaded.pkgd.min.js"></script>
  <!-- Isotope Filter -->
  <script src="assets/js/isotope.pkgd.min.js"></script>
  <!-- Gsap -->
  <script src="assets/js/gsap.min.js"></script>
  <!-- ScrollTrigger -->
  <script src="assets/js/ScrollTrigger.min.js"></script>
  <!-- Gsap ScrollTo Plugin -->
  <script src="assets/js/gsap-scroll-to-plugin.js"></script>
  <!-- Split Text -->
  <script src="assets/js/SplitText.js"></script>
  <!-- lenis -->
  <script src="assets/js/lenis.min.js"></script>
  <!-- wow js -->
  <script src="assets/js/wow.min.js"></script>
  <!-- nice-select -->
  <script src="assets/js/jquery.nice-select.min.js"></script>
  <!-- nouislider -->
  <script src="assets/js/nouislider.min.js"></script>
  <!-- Main Js File -->
  <script src="assets/js/main.js"></script>

</body>

</html>

